<!DOCTYPE html>
<html>
<head>


    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <link rel="stylesheet" href="fonts.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="views/pages/homepage.css">
</head>
</html>
<body>
<!--<div class="text-center">
  <div class="col">
      <div class="title">
          <h1 id="titulo"> Bienvenido a ONE RIG</h1>
          <style>
              h1{color: darkgreen} hasta enlazar css
          </style>
      </div>

      <p class="text-muted">
         Armado de Rigs a pedidos, mantenimiento, puesta a punto, entre muchos otros servicios.
      </p>
  </div>

  <img>
</div> -->


<main>
    <div class="contain">

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="200%" fill="#777"/>
                </svg>


                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>ONE-RIG.</h1>
                        <p>Bienvenidos, Somos ONE-RIG, una organizacion que realiza gestion de armados, mantenimientos,
                            de tus rigs a medida..</p>
                        <p><a class="btn" href="/moreinfo">MAS INFORMACION</a></p> <!-- VISTA CON MAS INFORMACION  TO DO -->
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777"/>
                </svg>

                <div class="container">
                    <div class="carousel-caption">
                        <h1>ONE-RIG.</h1>
                        <p>Podes ver nuestro catalogo para armar tu pedido a medida!</p>
                        <p><a class="btn" href="/product">Catalogo</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777"/>
                </svg>

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>ONE-RIG</h1>
                        <p>Si necesitas mas informacion sobre nosotros y de que se trata lo que hacemos,podes ver las
                            preguntas frecuentes de clientes</p>
                        <p><a class="btn" href="#">FAQ</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <div class="circle">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>nada</title>

                            <rect class="circulo" width="100%" height="100%" fill="#777" />



                    </svg>
                   <!-- <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div> -->

                </div>
                <style>
                    svg:hover .circulo{
                        background:darkgray ;
                       /* border: darkgreen 1px solid;*/
                       /* fill: darkgreen;*/





                        /*hacer que bordee el circulo con verde*/

                    }
                    .row .col-lg-4 .circle {
                      /*  background:darkgray ;*/
                       /* border: darkgreen 2px solid;*/
                        height: 10rem;







                    }



                </style>
                <h2>RIG X3</h2>
                <p class="lead" >RIG ETHEREUM
                   C/ PLACAS VIDEO RTX 2060
                    Rig ethereum con placas de video RTX 2060
                    (c/ RTX 2060 rinde 31.5 mhs). El rig completo con las 3 placas tiene una potencia de Minado de +190
                    mhs.

                    El equipo se entrega totalmente configurado a tu wallet, 100% automatizado y cuenta con garantía de
                    fábrica. </p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="circle">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"/>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                    </svg>
                </div>

                <h2>RIG X6</h2>
                <p class="lead">RIG ETHEREUM
                    C/ PLACAS VIDEO RTX 2060
                    Rig ethereum con placas de video RTX 2060
                    (c/ RTX 2060 rinde 31.5 mhs). El rig completo con las 6 placas tiene una potencia de Minado de +190
                    mhs.</p>
                <p><a class="btn btn-secondary" href="#">Mas Detalles &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="circle">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"/>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                    </svg>
                </div>

                <h2>RIG X12"</h2>
                <p class="lead" >RIG ETHEREUM
                    C/ PLACAS VIDEO RTX 2060
                    Rig ethereum con placas de video RTX 2060
                    (c/ RTX 2060 rinde 31.5 mhs). El rig completo con las 12 placas tiene una potencia de Minado de +190
                    mhs.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    RIG CHIA<span class="text-muted"> DISCO HD 8 TB </span></h2>
                <p class="lead">El equipo se entrega totalmente configurado a tu wallet, automatizado y cuenta con
                    garantía de fábrica.

                    c/ disco HD 8 TB (72 Plots)

                    Rig CHIA (XCH) con 6 discos HD 8 tb con capacidad de 432 PLOTS (48 TB de almacenamiento
                    totales) </p>
            </div>
            <div class="col-md-5">

                <div class="rigchia"><img x="50%" y="50%"
                                          src="http://criptomineriaarg.com.ar/wp-content/uploads/elementor/thumbs/16ae81bc-55fd-427b-a82c-9bf68dfbeb3f-p8wkt8e1im1154x0xce8fav6eqjx0utsqrwyc8ucv4.jpg">
                </div>

            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">RIG ETHERIUM <span class="text-muted">RTX 3080</span></h2>
                <p class="lead">INFOOOO</p>
            </div>
            <div class="col-md-5 order-md-1">
                <div class="rigchia"><img x="50%" y="50%"
                                          src="http://criptomineriaarg.com.ar/wp-content/uploads/elementor/thumbs/16ae81bc-55fd-427b-a82c-9bf68dfbeb3f-p8wkt8e1im1154x0xce8fav6eqjx0utsqrwyc8ucv4.jpg">
                </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">RIG ETHERIUM <span class="text-muted">RTX 3070</span></h2>
                <p class="lead">INFO.....</p>
            </div>
            <div class="col-md-5">
                <div class="rigchia"><img x="50%" y="50%"
                                          src="http://criptomineriaarg.com.ar/wp-content/uploads/elementor/thumbs/16ae81bc-55fd-427b-a82c-9bf68dfbeb3f-p8wkt8e1im1154x0xce8fav6eqjx0utsqrwyc8ucv4.jpg">
                </div>

            </div>
        </div>


        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">RIG ETHERIUM <span class="text-muted">RTX 3080</span></h2>
                <p class="lead">INFOOOOO</p>
            </div>
            <div class="col-md-5 order-md-1">
                <div class="rigchia"><img x="50%" y="50%"
                                          src="http://criptomineriaarg.com.ar/wp-content/uploads/elementor/thumbs/16ae81bc-55fd-427b-a82c-9bf68dfbeb3f-p8wkt8e1im1154x0xce8fav6eqjx0utsqrwyc8ucv4.jpg">
                </div>
            </div>
        </div>

        <hr class="featurette-divider">


        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->



</main>


<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>






<style>

    .contain{
        box-sizing: border-box;
    }

body{
    background: dimgray;

}

    h1 {
        color: darkgreen;
    }

    h2 {
        color: darkgreen;
    }

    .carousel {

        margin-bottom: 8rem;
        box-shadow: 10px 5px 5px black;


    }

    /* Desde el posicionamiento de la imagen, necesitamos ayudar con el título */
    .carousel-caption {
        bottom: 8rem;
        z-index: 10;
    }

    /*
    Declarar alturas debido al posicionamiento del elemento img */
    .carousel-item {
        height: 32rem;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;


        height: 32rem;
    }

    .carousel-indicators {
        animation-name: example;
        animation-duration: 4s;
        animation-timing-function: ease;

    }


    .btn {
        color: black;
        transition: background 1s, color 1s;
        -webkit-transition: color 200ms;
        -moz-transition: color 200ms;
        -o-transition: color 200ms;
        transition: color 200ms;
        border: 2px darkgray solid;

    }


    /* contenido de marketing
    -------------------------------------------------- */

    /* Alinear al centro el texto dentro de las tres columnas debajo del carruse */


    .col-lg-4 {
        border: darkgreen;
    }

    .marketing .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .marketing h2 {
        font-weight: 400;
    }

    /* rtl:begin:ignore */
    .marketing .col-lg-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
    }

    /* rtl:end:ignore */


    /* Featurettes
    ------------------------- */

    .featurette-divider {
        margin: 5rem 0; /* Space out the Bootstrap <hr> more */
    }

    /* Thin out the marketing headings */
    .featurette-heading {
        font-weight: 300;
        line-height: 1;
        /* rtl:remove */
        letter-spacing: -.05rem;
    }

    .rigchia {
        height: px;
    }


    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (min-width: 40em) {
        /* Bump up size of carousel content */
        .carousel-caption p {
            margin-bottom: 1.25rem;
            font-size: 1.25rem;
            line-height: 1.4;
        }

        .featurette-heading {
            font-size: 50px;
        }
    }

    @media (min-width: 62em) {
        .featurette-heading {
            margin-top: 7rem;
        }
    }


</style>
</div>
</body>
</html>
