<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="fonts.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">




</head>
</html>


<body>
<div class="contain">
<div class="container">
    <div class="titulo">

        <h2>
            <center><b>
                    <center>QUE ES LA CRYPTOMINERIA?</center>
                </b>
                Al realizar una compra/venta con alguna de las tantas cryptomonedas existentes, se genera una cadena de
                bloques
                o blockchain para hacer que dicha transacción sea segura e indescifrable. Nuestros rigs de minería van a
                resolver de manera automática estos blockchain, algo así como un acertijo matemático, trabajando en
                conjunto con
                muchos más rigs unidos por un “pool”. Una vez resueltas las transacciones, recibiremos un pago en
                cryptomonedas
                por lograr que se concrete la unión entre el comprador y el vendedor, que se acreditará de manera
                automática a
                nuestro Wallet o billetera digital. Este es un breve resumen del procedimiento, que realizado de forma
                ininterrumpida lo llamamos cryptomineria.
            </center>
        </h2>

    </div>

    <div class="imgcol">
        <img src="https://theminerscompany.com.ar/wp-content/uploads/2021/03/tmc3.jpg" style="width: 100%; height: 100%;">
        <br>


    </div>


</div>
<br>
<div class="services">
    <center><h3><b>¿QUE HACEMOS?</b></h3></center>



    <div class="card" style="width: 18rem;">
        <img src="images/mantenimiento.jpg"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Armado de Rigs a medida</h5>
            <p class="card-text">Armamos y configuramos los Rigs adaptándonos a las necesidades de nuestros clientes.
                Los equipos se instalan llave en mano y comenzarán a minar desde el primer minuto desde su entrega. *El
                armado queda a disposición del stock del día de TMC y puede tardar hasta 48 horas desde la compra.
                Puede ir a armar un rig haciendo click en el boton
                <br>⬇ ⬇ ⬇ ⬇
            </p>
            <a class="btn btn-primary" href="/product">CATALOGO</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/mantenimiento.jpg"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Puesta a punto</h5>
            <p class="card-text"> Realizamos overclocking y reparación de Rigs de minería. Obtenga más información haciendo click en el botón.
                ⬇ ⬇ ⬇ ⬇
            </p>
            <a href="https://wa.link/fosm12" class="btn btn-primary">CONTACTO</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="images/mantenimiento.jpg"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">MANTENIMIENTO</h5>
            <p class="card-text"> Realizamos cambio de pasta térmica, pads térmicos y limpieza de rigs de minería. Obtenga más información haciendo click en el botón.
                ⬇ ⬇ ⬇ ⬇
            </p>
            <a class="btn btn-primary " href="https://wa.link/ksivqd">SERVICIO TECNICO</a>
        </div>


    </div>
</div>




</div>


<!-- ESTILOS DE MOREINFO-->
<style>
    body {
        background: #5a5a5a;
        font-size: x-large;
    }

    .services {
        width: auto;
        height: auto;
        align-content: center;
    }

    .btn {
        background: dodgerblue;
        transition: background 1s, color 1s;
        -webkit-transition: color 200ms;
        -moz-transition: color 200ms;
        -o-transition: color 200ms;
        transition: color 200ms;
    }

    .card {

        background: dimgray;
        color: white;
        float: left;
        margin: 50px;
    }

    .card:hover {
        background: #5a5a5a;
        transition: background 1s, color 1s;
        -webkit-transition: color 200ms;
        -moz-transition: color 200ms;
        -o-transition: color 200ms;
        transition: color 200ms;
    }

    .container {
        position: relative;


        display: flex;
    }

    .titulo h1 {
        color: white;

    }

    .titulo {
        background: dimgray;
font-size: medium;
        font-family: Calibri;
        border-radius: 5px;
        height: auto;
        width: 100%;

    }


    .titulo h2 {
        font-size: 200%;
        color: white;
        background: dimgray;

        float: left;


    }

    .services {

    }

    .imgcol {
        width: auto;
        height: auto;
        object-fit: cover;
        object-position: center center;


    }

    h3 {
        color: white;
    }


    @media screen and (max-width: 820px) {
        body {
            width: 100%;
        }

.imgcol{
    display: none;
}
        .titulo h2 {
            width: 100%;
            height: 100%;
            color: white;
            background: dimgray;

            float: left;
            font-size: 150%;


        }



    }

</style>

</body>
