<div class="contenido">
    <div class="text-center">
        <div class="col">
            <h1 style="font-family: Arial">ALGUNOS DE NUESTROS RIGS ESTANDAR</h1>

            <div class="text-muted">
                <h2 style="color: white;font-family: Arial;">Aca les proporcionamos algunos de nuestras ofertas estandares, que en
                    rendimiento y en precio destacan en nuestras ventas</h2>


            </div>
        </div>
        <div class="row align-items-center justify-content-around">


            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                <img src="/images/catalogo.jpg" class="card-img-top" alt="...">
                <div class="card-body" id="RIG RTX 3070 X3">
                    <h5 class="card-title">RIG RTX 3070 X3</h5>
                    <p class="card-text" style="font-size: 15px">180 MH/S <br> USD:4500</p>
                    <div class="d-grid gap-2 col-auto mx-auto">
                        <a class="btn btn-outline-dark "
                           href="https://api.whatsapp.com/send?phone=543517637248&text=Hola+Buenos dias+me gustaria obtener mas informacion sobre el siguirnte rig predeterminado!+*RIG RTX 3070 X3*">CONTACTO</a>
                    </div>
                </div>
            </div>

            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                <img src="/images/catalogo.jpg" class="card-img-top" alt="...">
                <div class="card-body" id="RIG RTX 3070 X6">
                    <h5 class="card-title">RIG RTX 3070 X6</h5>
                    <p class="card-text" style="font-size: 15px">360 MH/S <br> USD:8500</p>
                    <div class="d-grid gap-2 col-auto mx-auto">
                        <a class="btn btn-outline-dark"
                           href="https://api.whatsapp.com/send?phone=543517637248&text=Hola+Buenos dias+me gustaria obtener mas informacion sobre el siguirnte rig predeterminado!+*RIG RTX 3070 X6*">CONTACTO</a>
                    </div>
                </div>
            </div>
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                <img src="/images/catalogo.jpg" class="card-img-top" alt="...">
                <div class="card-body" id="RIG 1660 SUPER X3">
                    <h5 class="card-title">RIG 1660 SUPER X3</h5>
                    <p class="card-text" style="font-size: 15px">90 MH/S <br> USD:2400</p>
                    <div class="d-grid gap-2 col-auto mx-auto">
                        <a class="btn btn-outline-dark"
                           href="https://api.whatsapp.com/send?phone=543517637248&text=Hola+Buenos dias+me gustaria obtener mas informacion sobre el siguirnte rig predeterminado!+*RIG 1660 SUPER X3*">CONTACTO</a>
                           </a>
                    </div>
                </div>
            </div>
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                <img src="/images/catalogo.jpg" class="card-img-top" alt="...">
                <div class="card-body" id="RIG 1660 SUPER X6">
                    <h5 class="card-title">RIG 1660 SUPER X6</h5>
                    <p class="card-text" style="font-size: 15px">180 MH/S <br> USD:4500</p>
                    <div class="d-grid gap-2 col-auto mx-auto">
                        <a class="btn btn-outline-dark"
                           href="https://api.whatsapp.com/send?phone=543517637248&text=Hola+Buenos dias+me gustaria obtener mas informacion sobre el siguirnte rig predeterminado!+*RIG 1660 SUPER X6*+">CONTACTO</a>
                    </div>
                </div>



            <!-- ESTILOS DE PRODUCT-->
            <style>


                .contenido {
                    background: dimgray;
                }

                .btn-outline-dark {
                    background: dimgray;
                }

                .col {
                    color: white;
                    font-family: "Candara Light";

                }


            </style>


            <script>


              var rig = document.getElementById("card-body");
              var seleccionado = rig;
              document.getElementById("card-body").value = seleccionado;


            </script>


        </div>
    </div>

</div>

</div>


