<div class="contenido">
<div class="text-center">
    <div class="col">
        <h1>ALGUNOS DE NUESTROS RIGS ESTANDAR</h1>

        <div class="text-muted" >
           <h2 style="color: white">Aca les proporcionamos algunos de nuestras ofertas estandares, que en rendimiento y en precio destacan en nuestras ventas</h2>


        </div>
    </div>
    <div class="row align-items-center justify-content-around">


<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
    <img src="/images/catalogo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">RIG RTX 3070 X3</h5>
        <p class="card-text" style="font-size: 15px">180 MH/S <br> USD:4500</p>
        <div class="d-grid gap-2 col-auto mx-auto">
            <a href="/product " class="btn btn-outline-dark">CONTACTO</a>
        </div>
    </div>
</div>

        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
            <img src="/images/catalogo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">RIG RTX 3070 X6</h5>
                <p class="card-text"  style="font-size: 15px" >360 MH/S <br> USD:8500</p>
                <div class="d-grid gap-2 col-auto mx-auto">
                    <a href="/product " class="btn btn-outline-dark">CONTACTO</a>
                </div>
            </div>
        </div>
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
            <img src="/images/catalogo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">RIG 1660 SUPER X3</h5>
                <p class="card-text" style="font-size: 15px" >90 MH/S <br> USD:2400</p>
                <div class="d-grid gap-2 col-auto mx-auto">
                    <a href="/product " class="btn btn-outline-dark">CONTACTO</a>
                </div>
            </div>
        </div>
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
            <img src="/images/catalogo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">RIG 1660 SUPER X6</h5>
                <p class="card-text" style="font-size: 15px" >180 MH/S <br> USD:4500</p>
                <div class="d-grid gap-2 col-auto mx-auto">
                    <a href=" " class="btn btn-outline-dark">CONTACTO</a>
                </div>
            </div>
        </div>








        <style>
            .contenido{
                background: dimgray;
            }
            .btn-outline-dark{
                background: dimgray;
            }
            .col {
                color: white;
                font-family: "Candara Light";

            }


        </style>












</div>
</div>
</div>
